:root{
    --c-primary-blue: hsl(237, 18%, 59%);
    --c-primary-red: hsl(345, 95%, 68%);

    --c-neutral-white:hsl(0, 0%, 100%);
    --c-neutral-transparent:hsla(0, 0%, 100%, 0);
    --c-neutral-desaturated-blue:hsl(236, 21%, 26%);
    --c-neutral-dark-blue:hsl(235, 16%, 14%);
    --c-neutral-very-dark-blue:hsl(234, 17%, 12%);
    --c-background-gradient-bright: hsl(273, 23%, 18%);
    --ff-primary: 'Red Hat Text', sans-serif;

    --fw-700: 700;

    --fs-default: 0.875rem;

    --digit-width-mobile: 70px;

}

*,
*::before,
*::after{
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  font-size: var(--fs-default);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
    height:100vh;
    width: 100vw;

    background-image:
    url(./images/pattern-hills.svg),
    url(./images/bg-stars.svg),
    linear-gradient( var(--c-neutral-very-dark-blue), var(--c-background-gradient-bright));
    background-repeat:  repeat-x, repeat-x;
    background-position:  bottom right 15%,bottom right ;
    background-size:  auto 30vh,auto,auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 50%;
    
}
@media screen and (min-width: 54rem){
    body{
        background-position:  bottom,bottom right ;
    }
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}
h1{
    width:80%;
    color: var(--c-neutral-white);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .35rem;
}

.clock-container{
    width: 330px;
    height: var(--digit-width-mobile);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clock-container *{
    user-select: none;
    cursor: default;
}
.clock-digit{
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--digit-width-mobile);
    height: 100%;
    gap: 3rem;

    perspective: 1000px;
}
.clock-digit::after{
    color: var(--c-primary-blue);
    opacity: 50%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .5rem;
    position: absolute;
    top: 110%;
    width: 100%;
}
.clock-digit-days::after{
    content: "Days";
}
.clock-digit-hours::after{
    content: "Hours";
}
.clock-digit-minutes::after{
    content: "Minutes";
}
.clock-digit-seconds::after{
    content: "Seconds";
}
.flip-card{
    position: relative; 
    z-index: 1;

    width: 100%;
    height: calc(var(--digit-width-mobile)/2);

    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateX(0);

    transition: transform .7s ease-in-out;
}
.flip-card.flipped{
    transform: rotateX(-180deg);
}
.clock-digit-piece{
    position: absolute;
    height: calc(var(--digit-width-mobile)/2);
    width: var(--digit-width-mobile);
    z-index: 0;
    display: flex;
    justify-content: center;

    font-size: 3rem;
    font-weight: 600;
    line-height: 0;

    overflow: hidden;

    backface-visibility: hidden;

}

.next-top,
.current-top{
    background-image:
    radial-gradient(circle 3px at 0 100%, #161825 3px,  #2c2c4400 3px),
    radial-gradient(circle 3px at 100% 100% , #161825 3px,  #2c2c4400 3px);
    background-color: #2C2C44;
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px ;
    color: #D3506F;
}

.next-bot,
.current-bot{
    background-image:radial-gradient(circle 3px at 0 0, #161825 3px,  #34364f00 3px),
    radial-gradient(circle 3px at 100% 0, #161825 3px,  #34364f00 3px);
    background-color: #34364F;
    border-bottom-right-radius: 5px ;
    border-bottom-left-radius: 5px ;
    color: #FC5D85;
}

.next-bot,
.current-top{
    height: 100%;
}

.next-top{
    top:0;
    align-items: flex-end;
}

.next-bot{
    align-items: flex-start;
    transform: rotateX(-180deg);
    
}
.current-top{
    align-items: flex-end;
}
.current-bot{
    bottom: 0;
    align-items: flex-start;
    box-shadow: 0px 10px 5px -5px #191A23;;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.socials{
    display: flex;
    gap: 2rem;
}
.icon :hover path{ 
    fill: var(--c-primary-red);
}
.attribution{
    justify-self: flex-end;
}